.tunisie{
    background-color: red;
    color: white;
    }
    
    .brazil{
    background-color: green;
    color: yellow;
    
    
    }
    
    
    .algerie{
    background-color: green;
    color:rgb(255, 255, 255)
    }
    

